
.welcome{
    display: none;
}
body{
    display: flex;
    justify-content: center;
    color: black;
    background-color: #BFD0FF;

}
.main-card{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    height: 90vh;
    width: 90vw;
    background-color: white;
    margin-top: 5vh;
    border-radius: 30px 200px;
    box-shadow: 1px 1px 0px grey;


}

.first-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    width: 100%;
    height:100%;
    font-family: sans-serif;
    font-size: small;
}
.first-text{
    margin-right: 20vw;
}
.second-container{
    display: flex;
    height: 100%;
    width: 100%;
}
.logo{
    height: 80px;
    width: 80px;
    margin-left: 12vw;

    border-width: 1px;
    border-radius: 100%;
}
.main-text{
    font-family: 'Source Code Pro', monospace;
    font-size: 10vh;
    margin-left: 4vw;

}
.color{
    color: #088CDA;
}
.logoboxrelative{
    position:absolute;
    right: 30vh;
}
.logoboxContainer{
    height: 70px;
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9E6FD;
    margin-left: 90px;
    transition: 2s;
}
.logoBox{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
.third-container{
    display: flex;
    margin-top: 8vh;
    align-items: center;
    
    width: 100%;
    height: 100%;
}
.text-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 18vw;
    height: 14vh;
    font-family: sans-serif;
    font-size: small;
    
    border-radius: 50%;
    margin-left: 10vw;
}
.info-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #37C6AB;
}

.colorboxContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 18vw;
    
    margin-left: 30vw;
}
.color1{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #FFBE62;
}
.color2{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #37C6AB;
}
.color3{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #036A73;
}
.color4{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #044837;
}
.color5{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #6E0093;
}
.link{
    color: #014D5D;
}
@media only screen and (min-width: 350px) and (max-width: 500px){
    .main-card{
        margin-top: 1vh;
        border-radius: 40px 120px;
    }
    .colorboxContainer{
        width:30vw;
    }
    .anime{
        height: 20px;
        width: 20px;
    }
    .text-box{
        width: 18vw;
        margin-left: 10vw;
    }
    .logoboxContainer{
        display: none;
    }
    .logo{
        margin-left: 5vw;
        height: 50px;
        width: 50px;
    }
    .main-text{
        font-size: 5vh;
        margin-left: 3vw;
    }
}
.middle{
    color: white;
    font-size: 40px;
    cell-spacing: 20px;
}
